.overview {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2b3e51;
    background-color: #ccffff;
}

.parent {
    background-color: #fff;
    margin: 2% 1.5%;
    /* border-radius: 25px; */
    text-align: start;
    border: solid #ccffff;
}

.team {
    display: table;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    display: table-row;
    text-align: left;
    margin-bottom: 3%;
}

.cell {
    display: table-cell;
    width: 25%;
    border-bottom: solid #ccffff;


}

.heading {
    width: 25%;
    align-items: center;
    text-align: center;
}